# ---> Go
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
/backend/*.exe
/backend/*.exe~
/backend/*.dll
/backend/*.so
/backend/*.dylib

# Test binary, built with `go test -c`
/backend/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/backend/*.out

# Dependency directories (remove the comment below to include it)
# /backend/vendor/

# Go workspace file
/backend/go.work

# Go env file
/backend/.env

# Air Config file
/backend/.air.toml

# Air temp folder (build log, main.exe)
/backend/tmp/*

# Temporary Image Directory
/backend/temp/*